<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	<style type="text/css">
    .logo {
        width: 5%
    }
 
    .detail {
        width: 95%;
        padding-left: 25px;
    }
 
    .detail td {
        font-size: 24px;
    }
</style>
 
 
<h:form id="form">
    <p:repeat value="#{formationBean.formations}" var="car">
        <h:panelGrid columns="2" style="width:100%" columnClasses="logo,detail"
          rows="12" paginator="true" id="cars"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="2,8,16">
         <p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()">
                <f:setPropertyActionListener value="#{car}" target="#{formationBean.selectedCar}" />
                <p:graphicImage name="demo/images/car/#{car.nom}-big.gif" /> 
            </p:commandLink>
 
            <p:outputPanel>
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText value="Nom :" />
                    <h:outputText value="#{car.nom}" style="font-weight: bold"/>
                    
                     <h:outputText value="Descreption :" />
                    <h:outputText value="#{car.descreption}" style="font-weight: bold"/>
 
                    <h:outputText value="Lieu :" />
                    <h:outputText value="#{car.lieu}" style="font-weight: bold"/>
                     <h:outputText value="Categorie :" />
                     
                    <h:outputText value="#{car.type}" style="font-weight: bold"/>
                    
                      <h:outputText value="Nbr de Place disponible :" />
                    <h:outputText value="#{car.nbrplace}" style="font-weight: bold"/>
 
                    <h:outputText value="Date :" />
                    <h:outputText value="#{car.date}" style="font-weight: bold"/>
                    
                    <h:commandButton value="supprimer" type="submit" action="#{formationBean.remove(car.id)}" class="btn btn-primary btn-user btn-block" />


                     <h:commandButton action="#{formationBean.modifier(car)}" value="modifier" class="btn btn-primary btn-user btn-block"/>
                    
                    
                     <p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()" title="View Detail">
                    <h:outputText styleClass="pi pi-search" style="margin:0 auto;"/>
                    <f:setPropertyActionListener value="#{car}" target="#{formationBean.selectedCar}" />
                </p:commandLink>
                </h:panelGrid>
            </p:outputPanel>
        </h:panelGrid>
        <hr />
    </p:repeat>
       <p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="carDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty formationBean.selectedCar}" columnClasses="label,value">
               <h:outputText value="nom" />
                <h:outputText value="#{formationBean.selectedCar.nom}" />
                </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
</h:form>
	</ui:define>
</ui:composition>