<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	
	<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-1 text-gray-800">List des Formations </h1>
              <a href= "../formation/formation.xhtml" class="btn btn-primary btn-user">
                      Gérer Les Formations  
                    </a>

          <!-- Content Row -->
          <div class="row">
<ui:repeat  value="#{formationBean.formations}" var="f"> 
            <!-- Border Left Utilities -->
            <div class="col-lg-6">

              <div class="card mb-4 py-3 border-left-info">
                <div class="card-body">
                
                  
                 <h5>Nom Du Formation :  #{f.nom}</h5>
                 <h5> Descreption : #{f.descreption}</h5>
                 <h5> Lieu Du Formation : #{f.lieu}</h5>
                 <h5> Nbr de place disponible : #{f.nbrplace}</h5>
                 <h5> Date : #{f.date}</h5>
                 <h5> Categorie du Formation : #{f.type}</h5>
                   <h:panelGrid columns="2" cellpadding="5">
                  <h:head></h:head>
                  <h:body>
                <h:outputText value="Rate : " />
        <p:rating value="#{ratingView.rating2}" stars="10" cancel="false" onRate="alert('You rated ' + value)" />
   </h:body>
            </h:panelGrid>      
                 
                </div>
              </div>

              

            </div>

         </ui:repeat>

          </div>

        </div>
        <!-- /.container-fluid -->

      
      <!-- End of Main Content -->
	
	</ui:define>
</ui:composition>