<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	
	<div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Ajouter Formation</h1>
              </div>
              <h:form class="user" id="form">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                   <h:outputText value="Nom" />
<h:inputText value="#{formationBean.nom}"  class="form-control form-control-user" />
    
                 
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                   <h:outputText value="Descreption" />
<h:inputText value="#{formationBean.descreption}"  class="form-control form-control-user" />
    
                 
              </div>
             
            
                  <div class="col-sm-6">
                  <h:outputText value="Lieu" />
<h:inputText value="#{formationBean.lieu}" class="form-control form-control-user"/>
                   
                  
                  </div>
                </div>
             
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
<h:outputText value="Date " />
<h:inputText value="#{formationBean.date}" class="form-control form-control-user"  />


                   
                
                  </div>
   <div class="col-sm-6 mb-3 mb-sm-0">
<h:outputText value="Nombre de Place " />
<h:inputText value="#{formationBean.nbrplace}" class="form-control form-control-user"  />

                  </div>
                  <h:outputText value="type"/>
<h:selectOneMenu value="#{formationBean.type}" class="custom-select custom-select-sm form-control form-control-sm">
<f:selectItem itemLabel="Selectionner le categorie de formation " itemValue="" />
<f:selectItems value="#{data.types}" />
</h:selectOneMenu>
                  
   
                 
                  
                  
                  
                  </div>
                  <h:outputText value="actif/inactif" />
<h:selectBooleanCheckbox value="#{formationBean.etat}"/>

<h:panelGrid>
 <h:commandButton id="btn" action="#{formationBean.addFormation()}" value="Ajouter Une Formtion" class="btn btn-primary btn-user " />
 <h:message class="btn btn-success btn-icon-split" for="btn">
 									 <span class="icon text-white-50">
                     				 <i class="fas fa-check"/>
                   					 </span>
                   					 </h:message>
                   					 
  <h:commandButton  action="#{formationBean.returnList()}" value="Retour à la liste des formations" class="btn btn-primary btn-user " />
 </h:panelGrid>
                </h:form>
                </div>
               
              
               
               </ui:define>
</ui:composition>
                          
	