<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	 
<h1 class="h3 mb-2 text-gray-800">Table des Formations</h1>
          
<p class="mb-4"> <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          <!-- DataTales Example -->
          
<div class="card shadow mb-4">
            
<div class="card-header py-3">
              
<h6 class="m-0 font-weight-bold text-primary">Liste Des Formations</h6>
            </div>
            
<div class="card-body">
              
<div class="table-responsive">
   <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"/>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
            
          </form>
                       
<h:form>
<h:dataTable value="#{formationBean.formations}" var="c" id="dataTable" width="100%" cellspacing="0">
               
                    
<h:column>
<f:facet name="header">
<h:outputText value="Nom"/>
</f:facet>
<h:outputText value="#{c.nom}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Description"/>
</f:facet>
<h:outputText value="#{c.descreption}"/>
</h:column>
<h:column>
<f:facet name="header">
<h:outputText value="Categorie"/>
</f:facet>
<h:outputText value="#{c.type}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Lieu"/>
</f:facet>
<h:outputText value="#{c.lieu}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Nbr de Place disponible"/>
</f:facet>
<h:outputText value="#{c.nbrplace}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Date"/>
</f:facet>
<h:outputText value="#{c.date}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Action"/>
</f:facet>

<h:commandLink value="Supprimer" type="submit" action="#{formationBean.remove(c.id)}" class="btn btn-danger btn-icon-split" >
<span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
</h:commandLink>


<h:commandLink action="#{formationBean.modifier(c)}" value="Modifier" class="btn btn-success btn-icon-split">
<span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
</h:commandLink>
 <h:commandLink action="#{participationBean.Aff(c.id)}" value="Liste des Affectations" class="btn btn-info btn-icon-split">
 <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
 </h:commandLink>   
</h:column>

                </h:dataTable>
                </h:form>
                
<h:form rendered="#{formationBean.affiche}">
<h:panelGrid columns="2">

<h:outputText value="Nom Formation" />
<h:inputText value="#{formationBean.nom}" class="form-control form-control-user" />

<h:outputText value="Description" />
<h:inputText value="#{formationBean.descreption}" class="form-control form-control-user" />







<h:outputText value="date" />
<h:inputText value="#{formationBean.date}" class="form-control form-control-user" />

<h:outputText value="lieu" />
<h:inputText value="#{formationBean.lieu}" class="form-control form-control-user"/>


    


<h:outputText value="nbr place" />
<h:inputText value="#{formationBean.nbrplace}" class="form-control form-control-user"/>





<h:commandButton action="#{formationBean.addFormation()}" value="Ajouter" class="btn btn-primary btn-user "/>
<h:commandButton action="#{formationBean.mettreAjour()}" value="modifier" class="btn btn-primary btn-user"/>


</h:panelGrid>
</h:form>
                
              </div>
            </div>
          </div>
        
	
	</ui:define>
	</ui:composition>