<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
		 
<div class="card-body">
              
<div class="table-responsive">



<!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->

<!--                   <thead> -->
                    
<!-- <tr> -->
                      
<!-- <th>Name</th> -->
                      
<!-- <th>Position</th> -->
                      
<!-- <th>Office</th> -->
                      
<!-- <th>Age</th> -->
                      
<!-- <th>Start date</th> -->
                      
<!-- <th>Salary</th> -->
<!--                     </tr> -->
<!--                   </thead> -->
                  


<!-- <tr> -->
                      
<!-- <td> fsfsf<h:outputText value="#{formationBean.nom}"/></td> -->
                      
<!-- <td><h:outputText value="#{formationBean.descreption}"/></td> -->
                      
<!-- <td>London</td> -->
                      
<!-- <td>43</td> -->
                      
<!-- <td>2012/12/18</td> -->
                      
<!-- <td>$313,500</td> -->
<!--                     </tr> -->

<!-- </table> -->
<div class="row">
<ui:repeat  value="#{formationBean.formations}" var="f"> 
		 
 	<div class="col-lg-4">  

               
              <div class="card shadow mb-4"> 
                 <div class="card-header py-3"> 
                   <h6 class="m-0 font-weight-bold text-primary"> #{f.nom} </h6>  
                 </div> 
                 <div class="card-body">  
                    <div >#{f.descreption}</div>  
                <div>#{f.nbrplace}</div> 
  <div class="px-3 py-5 bg-gradient-info text-white">#{f.descreption}</div> 
              <div class="px-3 py-5 bg-gradient-warning text-white">#{f.descreption}</div> 
<!--                   <div class="px-3 py-5 bg-gradient-danger text-white">.bg-gradient-danger</div> -->
                  </div>  
                </div> 

             </div>  

  </ui:repeat>  

 
</div>
</div>
</div>
	
	
	
	
	</ui:define>
	</ui:composition>