<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    
<h:form>
<h:dataTable value="#{formationBean.formations}" var="h" border="1">

<h:column>
<f:facet name="header">
<h:outputText value="nom"/>
</f:facet>
<h:outputText value="#{h.nom}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="description"/>
</f:facet>
<h:outputText value="#{h.descreption}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="etat"/>
</f:facet>
<h:outputText value="#{h.etat}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="date"/>
</f:facet>
<h:outputText value="#{h.date}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="lieu"/>
</f:facet>
<h:outputText value="#{h.lieu}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="nombre de place"/>
</f:facet>
<h:outputText value="#{h.nbrplace}"/>
</h:column>
  


<h:column>
<f:facet name="header">
<h:outputText value="Action"/>
</f:facet>

<h:commandButton value="supprimer" type="submit" action="#{formationBean.remove(h.id)}" />


<h:commandButton action="#{formationBean.modifier(h)}" value="modifier"/>
</h:column>


</h:dataTable>
</h:form>

<h:form rendered="#{formationBean.affiche}">
<h:panelGrid columns="2">

<h:outputText value="Sujet" />
<h:inputText value="#{formationBean.nom}" />

<h:outputText value="Description" />
<h:inputText value="#{formationBean.descreption}" />





<h:outputText value="etat" />
<h:inputText value="#{formationBean.etat}" />

<h:outputText value="date" />
<h:inputText value="#{formationBean.date}" />

<h:outputText value="lieu" />
<h:inputText value="#{formationBean.lieu}" />


    


<h:outputText value="nbr place" />
<h:inputText value="#{formationBean.nbrplace}" />



<h:commandButton action="#{formationBean.addFormation()}" value="Ajouter" />
<h:commandButton action="#{formationBean.mettreAjour()}" value="modifier"/>


</h:panelGrid>
</h:form>

</html>