<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	
	<div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Ajouter Une Categorie</h1>
              </div>
              <h:form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                   <h:outputText value="Nom Categorie" />
<h:inputText value="#{categorieBean.nom}"  class="form-control form-control-user" />
    
                 
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                   <h:outputText value="Descreption" />
<h:inputText value="#{categorieBean.descreption}"  class="form-control form-control-user" />
    
                 
              </div>
             
            
                
                </div>
           
     
 <h:commandButton action="#{categorieBean.addcategorie()}" value="ajouter une categorie " class="btn btn-primary btn-user btn-block"/>
 
                </h:form>
                
                </div>
              
            

</ui:define>
</ui:composition>