<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
    xmlns:c="http://java.sun.com/jstl/core"
	template="/templete/index.xhtml">
	<ui:param name="page_name" value="index" />
	<ui:define name="content">
	 
<h1 class="h3 mb-2 text-gray-800">Table des categories</h1>
          
<p class="mb-4"> <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          <!-- DataTales Example -->
          
<div class="card shadow mb-4">
            
<div class="card-header py-3">
              
<h6 class="m-0 font-weight-bold text-primary">Liste Des Categories</h6>
            </div>
            
<div class="card-body">
              
<div class="table-responsive">
   <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"/>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
            
          </form>
                       
<h:form>
<h:dataTable value="#{categorieBean.cate}" var="c" id="dataTable" width="100%" cellspacing="0">
               
                    
<h:column>
<f:facet name="header">
<h:outputText value="Nom"/>
</f:facet>
<h:outputText value="#{c.nom}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Description"/>
</f:facet>
<h:outputText value="#{c.descreption}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="Action"/>
</f:facet>

<h:commandButton value="supprimer" type="submit" action="#{categorieBean.remove(c.id)}" class="btn btn-primary btn-user  " />

</h:column>
                </h:dataTable>
                </h:form>
              </div>
            </div>
          </div>
        
	
	</ui:define>
	</ui:composition>