<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    
<h:form>
<h:dataTable value="#{categorieBean.cate}" var="f" border="1">

<h:column>
<f:facet name="header">
<h:outputText value="nom"/>
</f:facet>
<h:outputText value="#{f.nom}"/>
</h:column>

<h:column>
<f:facet name="header">
<h:outputText value="description"/>
</f:facet>
<h:outputText value="#{f.descreption}"/>
</h:column>




<h:column>
<f:facet name="header">
<h:outputText value="Action"/>
</f:facet>

<h:commandButton value="supprimer" type="submit" action="#{formationBean.remove(h.id)}" />


<h:commandButton action="#{formationBean.modifier(h)}" value="modifier"/>
</h:column>
</h:dataTable>
</h:form>
</html>